@charset "utf-8";
textarea{resize: none;}
.liuyan{width: 1020px;min-height:450px;_height:776px;margin:10px  auto;}
.liuyan .left_nav{border:1px solid #CECECE;width: 190px;margin-right: 8px;float: left;background: url(../img/welcome01.gif) no-repeat top;}
.left_nav h3{margin-left:13px;width: 190px;height: 28px;line-height: 28px;font-size:14px;font-weight: bold;}
.left_nav ul{padding-left:24px;}
.left_nav ul li{padding-left:24px;margin-bottom: 20px;background: url(../img/bor01.gif) no-repeat left center;}
.left_nav ul .one{margin-top:17px;}
.left_nav ul .one a{color:#C2100E;font-weight: bold;}
.left_nav ul li a{color: #424242;font-size:13px;}
.left_nav ul li a:hover{color:#FE6C00;}

.liuyan .right{width: 820px;float: right;}
.right .pre_position{width: 820px;height: 30px;line-height: 30px;}
.right .pre_position #pre{color: black;}
.detail_info{width: 820px;min-height: 386px;_height:386px;background: url(../img/vipR_bg.gif) repeat-x;border: 1px solid #CECECE;}



